<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.application.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventory</servlet-name>
        <jsp-file>/Inventory.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/admin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/Profile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/Login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/Register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <jsp-file>/Search.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <jsp-file>/EditAdd.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <jsp-file>/EditAdd.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <jsp-file>/DetailBarang.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Forbid</servlet-name>
        <jsp-file>/Forbid.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/Inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>   
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>   
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail/*</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forbid</servlet-name>
        <url-pattern>/Forbid</url-pattern>   
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
